
    <%= form_for(@initiative) do |f| %>
      <% if @initiative.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@initiative.errors.count, "error") %> prohibited this initiative from being saved:</h2>

          <ul>
          <% @initiative.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="large-12 columns">
          <div class="button tiny alert">
            <%= f.submit 'Save' %>
          </div>
        </div>
      </div>

      <div class="large-3 columns">
        <label for="title-label" class="right inline"><h3>Initiative Title:</h3></label>
      </div>
      <div class="large-9 columns">
        <h3>
            <%= f.text_field :title %>
        </h3>
      </div>

    <div class="large-12 columns">
      <fieldset>
        <legend><h5>Agencies Involved</h5></legend>

      <div class="large-4 columns">
        <label><h5>Lead Agency:</h5></label>
        <%= f.text_field :lead_agency %>
      </div>
      <div class="large-4 columns">
        <label><h5>Secondary Agency 1:</h5></label>
        <%= f.text_field :sec_agency_1 %>
      </div>
      <div class="large-4 columns">
        <label><h5>Secondary Agency 2:</h5></label>
        <%= f.text_field :sec_agency_2 %>
      </div>
      </fieldset>
    </div>


    
    <div class="large-12 columns">
      <fieldset>
        <legend><h5>Description/Justification</h5></legend>

          <div class="large-12 columns" data-reveal-id="descriptionModal">
            <label><h5><a href="#" class="button tiny secondary">?</a> Description:</h5></label>
          </div>
          <div class="large-12 columns">
            <%= f.text_area :description, :rows => "8" %>
          </div>

          <div class="large-12 columns" data-reveal-id="justificationModal">
            <label><h5><a href="#" class="button tiny secondary">?</a> Justification:</h5></label>
          </div>
          <div class="large-12 columns">
            <%= f.text_area :justification, :rows => "8" %>
          </div>

          <div class="large-12 columns" data-reveal-id="alternativesModal">
            <label><h5><a href="#" class="button tiny secondary">?</a> Other Alternatives Considered:</h5></label>
          </div>
          <div class="large-12 columns">
            <%= f.text_area :alternatives, :rows => "8" %>
          </div>

      </fieldset>
    </div>

    <div class="large-12 columns">

      <fieldset>
        <legend><h5>Funding Details</h5></legend>

          <div class="large-12 columns" data-reveal-id="analysisModal">
            <label><h5><a href="#" class="button tiny secondary">?</a> Cost Analysis:</h5></label>
          </div>
          <div class="large-12 columns">
            <%= f.text_area :cost_analysis, :rows => "8" %>
          </div>

      </fieldset>
    </div>

    <div class="large-12 columns">

      <fieldset>
        
          <legend><div data-reveal-id="objectivesModal"><h5><a href="#" class="button tiny secondary">?</a> Objectives/Benchmarks Advanced</h5></div></legend>
        

          <div class="large-4 columns">
            <label><h5>Objective #1:</h5></label>
            <%= f.text_field :objective_1 %>
          </div>
          <div class="large-4 columns">
            <label><h5>Benchmark:</h5></label>
            <%= f.text_field :benchmark_1a %>
          </div>
          <div class="large-4 columns">
            <label><h5>Benchmark:</h5></label>
            <%= f.text_field :benchmark_1b %>
          </div>

          <hr>

          <div class="large-4 columns">
            <label><h5>Objective #2:</h5></label>
            <%= f.text_field :objective_2 %>
          </div>
          <div class="large-4 columns">
            <label><h5>Benchmark:</h5></label>
            <%= f.text_field :benchmark_2a %>
          </div>
          <div class="large-4 columns">
            <label><h5>Benchmark:</h5></label>
            <%= f.text_field :benchmark_2b %>
          </div>

<!--           <hr>

          <div class="large-4 columns">
            <label><h5>Objective #3:</h5></label>
            <%= f.text_field :objective_3 %>
          </div>
          <div class="large-4 columns">
            <label><h5>Benchmark:</h5></label>
            <%= f.text_field :benchmark_3a %>
          </div>
          <div class="large-4 columns">
            <label><h5>Benchmark:</h5></label>
            <%= f.text_field :benchmark_3b %>
          </div>
 -->
      </fieldset>
    </div>

    <div class="large-12 columns">

      <fieldset>
        <legend><h5>Initiative-Level Performance Measures (Proposed)</h5></legend>

          <div class="large-12 columns">
            <label><h5>Initiative-Level Performance Measure #1:</h5></label>
            <%= f.text_field :init_pm_1 %>
          </div>
          <div class="large-12 columns">
            <label><h5>Cost of Proposed Measure:</h5></label>
            <%= f.text_area :init_pm_1_cost, :rows => "4" %>
          </div>
          <hr>

          <div class="large-12 columns">
            <label><h5>Initiative-Level Performance Measure #2:</h5></label>
            <%= f.text_field :init_pm_2 %>
          </div>
          <div class="large-12 columns">
            <label><h5>Cost of Proposed Measure:</h5></label>
            <%= f.text_area :init_pm_2_cost, :rows => "4" %>
          </div>


      </fieldset>
    </div>

    <div class="large-12 columns">

      <fieldset>
        <legend><h5>Activity-Level Performance Measures (Existing PPBB Measures)</h5></legend>

          <div class="large-12 columns">
            <label><h5>Activity-Level Performance Measure #1:</h5></label>
            <%= f.text_field :agency_pm_1 %>
          </div>
          <hr>

          <div class="large-12 columns">
            <label><h5>Activity-Level Performance Measure #2:</h5></label>
            <%= f.text_field :agency_pm_2 %>
          </div>

      </fieldset>
    </div>

    <div class="large-12 columns">

      <fieldset>
        <legend><h5>Population/Caseload</h5></legend>

          <div class="large-12 columns" data-reveal-id="populationModal">
            <label><h5><a href="#" class="button tiny secondary">?</a> Population:</h5></label>
            <%= f.text_area :population, :rows => "4" %>
          </div>

          <div class="large-12 columns" data-reveal-id="caseloadModal">
            <label><h5><a href="#" class="button tiny secondary">?</a> Caseload:</h5></label>
            <%= f.text_area :caseload, :rows => "4" %>
          </div>

          <div class="large-12 columns" data-reveal-id="impactedModal">
            <label><h5><a href="#" class="button tiny secondary">?</a> Who is Impacted:</h5></label>
            <%= f.text_area :who_impacted, :rows => "4" %>
          </div>

      </fieldset>
    </div>


      <div class="button tiny alert">
        <%= f.submit 'Save' %>
      </div>
    <% end %>

<div id="descriptionModal" class="reveal-modal small">
  <h2>Description</h2>
  <p class="lead">Header? (we can show or hide this)</p>
  <p>Here we can display special instructions to the user for each field or category.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="justificationModal" class="reveal-modal small">
  <h2>Justification</h2>
  <p class="lead">Header? (we can show or hide this)</p>
  <p>Here we can display special instructions to the user for each field or category.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="alternativesModal" class="reveal-modal small">
  <h2>Other Alternatives Considered</h2>
  <p class="lead">Header? (we can show or hide this)</p>
  <p>Here we can display special instructions to the user for each field or category.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="analysisModal" class="reveal-modal small">
  <h2>Cost Analysis</h2>
  <p class="lead">Header? (we can show or hide this)</p>
  <p>Here we can display special instructions to the user for each field or category.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="objectivesModal" class="reveal-modal small">
  <h2>Objectives/Benchmarks Advanced</h2>
  <p class="lead">Header? (we can show or hide this)</p>
  <p>Objectives and Benchmarks are part of Nevada's Priorities and Performance Based Budget (PPBB) process. PPBB Objectives are high-level goals that the State is trying to achieve; Benchmarks are high-level measures of how well the State is doing at achieveing or making progress towards those Objectives. A Major Budget Initiative should advance one or more Statewide Objectives, along with one or more of that Objective's associated Benchmarks. </p>
  <p>For a list of Statewide Objectives (and their associated Benchmarks) please visit Nevada's <a href="http://openbudget.nv.gov/OpenGov/ViewPPBBSummary.aep" target="_new">Openbudget website</a>. Objectives can be located by their associated Core Function using the 'Core Function' tab.
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="populationModal" class="reveal-modal small">
  <h2>Population</h2>
  <p class="lead">Header? (we can show or hide this)</p>
  <p>Here we can display special instructions to the user for each field or category.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="caseloadModal" class="reveal-modal small">
  <h2>Caseload</h2>
  <p class="lead">Header? (we can show or hide this)</p>
  <p>Here we can display special instructions to the user for each field or category.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="impactedModal" class="reveal-modal small">
  <h2>Who is Impacted?</h2>
  <p class="lead">Header? (we can show or hide this)</p>
  <p>Here we can display special instructions to the user for each field or category.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

