
    <%= form_for(@initiative) do |f| %>
      <% if @initiative.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@initiative.errors.count, "error") %> prohibited this initiative from being saved:</h2>

          <ul>
          <% @initiative.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="large-12 columns">
          <div class="button tiny alert">
            <%= f.submit 'Save' %>
          </div>
        </div>
      </div>

      <div class="large-3 columns">
        <label for="title-label" class="right inline"><h3>Title (required):</h3></label>
      </div>
      <div class="large-9 columns">
        <h3>
            <%= f.text_field :title %>
        </h3>
      </div>

    <div class="large-12 columns">
      <fieldset>
        <legend><div data-reveal-id="agenciesModal"><h5><a href="#" class="button tiny secondary">?</a> Agencies Involved</h5></div></legend>

      <div class="large-4 columns">
        <label><h5>Lead Agency (required):</h5></label>
        <%= f.text_field :lead_agency %>
      </div>
      <div class="large-4 columns">
        <label><h5>Secondary Agency 1:</h5></label>
        <%= f.text_field :sec_agency_1 %>
      </div>
      <div class="large-4 columns">
        <label><h5>Secondary Agency 2:</h5></label>
        <%= f.text_field :sec_agency_2 %>
      </div>
      </fieldset>
    </div>


    
    <div class="large-12 columns">
      <fieldset>
        <legend><h5>Description/Justification</h5></legend>

          <div class="large-12 columns" data-reveal-id="descriptionModal">
            <label><h5><a href="#" class="button tiny secondary">?</a> Description:</h5></label>
          </div>
          <div class="large-12 columns">
            <%= f.text_area :description, :rows => "8" %>
          </div>

          <div class="large-12 columns" data-reveal-id="justificationModal">
            <label><h5><a href="#" class="button tiny secondary">?</a> Justification:</h5></label>
          </div>
          <div class="large-12 columns">
            <%= f.text_area :justification, :rows => "8" %>
          </div>

          <div class="large-12 columns" data-reveal-id="alternativesModal">
            <label><h5><a href="#" class="button tiny secondary">?</a> Other Alternatives Considered:</h5></label>
          </div>
          <div class="large-12 columns">
            <%= f.text_area :alternatives, :rows => "8" %>
          </div>

      </fieldset>
    </div>

    <div class="large-12 columns">

      <fieldset>
        <legend><h5>Funding Details</h5></legend>

          <div class="large-12 columns" data-reveal-id="analysisModal">
            <label><h5><a href="#" class="button tiny secondary">?</a> Cost Analysis:</h5></label>
          </div>
          <div class="large-12 columns">
            <%= f.text_area :cost_analysis, :rows => "8" %>
          </div>

      </fieldset>
    </div>

    <div class="large-12 columns">

      <fieldset>
        
          <legend><div data-reveal-id="objectivesModal"><h5><a href="#" class="button tiny secondary">?</a> Objectives/Benchmarks Advanced</h5></div></legend>
        

          <div class="large-4 columns">
            <label><h5>Objective #1:</h5></label>
            <%= f.text_field :objective_1 %>
          </div>
          <div class="large-4 columns">
            <label><h5>Benchmark:</h5></label>
            <%= f.text_field :benchmark_1a %>
          </div>
          <div class="large-4 columns">
            <label><h5>Benchmark:</h5></label>
            <%= f.text_field :benchmark_1b %>
          </div>

          <hr>

          <div class="large-4 columns">
            <label><h5>Objective #2:</h5></label>
            <%= f.text_field :objective_2 %>
          </div>
          <div class="large-4 columns">
            <label><h5>Benchmark:</h5></label>
            <%= f.text_field :benchmark_2a %>
          </div>
          <div class="large-4 columns">
            <label><h5>Benchmark:</h5></label>
            <%= f.text_field :benchmark_2b %>
          </div>

<!--           <hr>

          <div class="large-4 columns">
            <label><h5>Objective #3:</h5></label>
            <%= f.text_field :objective_3 %>
          </div>
          <div class="large-4 columns">
            <label><h5>Benchmark:</h5></label>
            <%= f.text_field :benchmark_3a %>
          </div>
          <div class="large-4 columns">
            <label><h5>Benchmark:</h5></label>
            <%= f.text_field :benchmark_3b %>
          </div>
 -->
      </fieldset>
    </div>

    <div class="large-12 columns">

      <fieldset>
        <legend><div data-reveal-id="initiativePmModal"><h5><a href="#" class="button tiny secondary">?</a> Initiative-Level Performance Measures (Proposed)</h5></div></legend>

          <div class="large-12 columns">
            <label><h5>Initiative-Level Performance Measure #1:</h5></label>
            <%= f.text_field :init_pm_1 %>
          </div>
          <div class="large-12 columns" data-reveal-id="costOfPmModal">
            <label><h5><a href="#" class="button tiny secondary">?</a> Cost of Proposed Measure:</h5></label>
          </div>
          <div class="large-12 columns">
            <%= f.text_area :init_pm_1_cost, :rows => "4" %>
          </div>
          <hr>

          <div class="large-12 columns">
            <label><h5>Initiative-Level Performance Measure #2:</h5></label>
            <%= f.text_field :init_pm_2 %>
          </div>
          <div class="large-12 columns" data-reveal-id="costOfPmModal">
            <label><h5><a href="#" class="button tiny secondary">?</a> Cost of Proposed Measure:</h5></label>
          </div>
          <div class="large-12 columns">
            <%= f.text_area :init_pm_2_cost, :rows => "4" %>
          </div>


      </fieldset>
    </div>

    <div class="large-12 columns">

      <fieldset>
        <legend><div data-reveal-id="activityPmModal"><h5><a href="#" class="button tiny secondary">?</a> Activity-Level Performance Measures (Existing PPBB Measures)</h5></div></legend>

          <div class="large-12 columns">
            <label><h5>Activity-Level Performance Measure #1:</h5></label>
            <%= f.text_field :agency_pm_1 %>
          </div>
          <hr>

          <div class="large-12 columns">
            <label><h5>Activity-Level Performance Measure #2:</h5></label>
            <%= f.text_field :agency_pm_2 %>
          </div>

      </fieldset>
    </div>

    <div class="large-12 columns">

      <fieldset>
        <legend><h5>Population/Caseload</h5></legend>

          <div class="large-12 columns" data-reveal-id="populationModal">
            <label><h5><a href="#" class="button tiny secondary">?</a> Population:</h5></label>
          </div>
          <div class="large-12 columns">
            <%= f.text_area :population, :rows => "4" %>
          </div>

          <div class="large-12 columns" data-reveal-id="caseloadModal">
            <label><h5><a href="#" class="button tiny secondary">?</a> Caseload:</h5></label>
          </div>
          <div class="large-12 columns">
            <%= f.text_area :caseload, :rows => "4" %>
          </div>

<!--           <div class="large-12 columns" data-reveal-id="impactedModal">
            <label><h5><a href="#" class="button tiny secondary">?</a> Who is Impacted:</h5></label>
            <%= f.text_area :who_impacted, :rows => "4" %>
          </div>

 -->      </fieldset>
    </div>


      <div class="button tiny alert">
        <%= f.submit 'Save' %>
      </div>
    <% end %>

<div id="agenciesModal" class="reveal-modal medium">
  <h2>Agencies Involved</h2>
<!--   <p class="lead">Header? (we can show or hide this)</p>
 -->  <p>This section provides for identifying the lead Division involved in the Initiative. Secondary divisions or departments can also be included if there is collaboration on an initiative. The lead agency is responsible to control the narrative and data entry.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="descriptionModal" class="reveal-modal medium">
  <h2>Description</h2>
  <p>This is where we describe <i>WHAT</i> we are doing, <i>HOW</i> we propose to do it and <i>WHEN</i> we will get it done. It is important to hit all of the real key elements in the first couple of paragraphs as this portion will be included in a high level summary. The remainder of the narrative can be as exhaustive as needed to provide a full description. We are encouraging concise and hard hitting text.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="justificationModal" class="reveal-modal medium">
  <h2>Justification</h2>
  <p>This is where we describe <i>WHY</i> we want to pursue this Initiative. We should describe the current condition that needs to be addressed and/or the opportunity for improvement. Again, the first two paragraphs should summarize all key elements as they will be used for a high level summary. The remainder should include elements necessary to make a compelling argument that this Initiative will add value to the state (for example, who stands to benefit from the Initiative going forward?). 
  </p>
  <p>If there are external pressures such as Federal requirements or court orders, these items should be discussed in this section.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="alternativesModal" class="reveal-modal medium">
  <h2>Other Alternatives Considered</h2>
  <p>Here you should describe alternative options for addressing the existing conditions listed in the <i><strong>Justification</strong></i> section, or for advancing the goals listed in the <i><strong>Description</strong></i> section.</p>
  <p>For instance, is there another structure or method to get similar results? Are there more cost effective solutions that may provide varying results or different degrees of predictability?</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="analysisModal" class="reveal-modal medium">
  <h2>Cost Analysis</h2>
  <p>We are asking that each Initiative provide a high level summary of the costs involved in advancing the concept. Once NEBS data entry fields are fully functional, this data will be pulled directly from decision units. During the development period (and to help us quantify overall costs) we are looking for a narrative description that provides a broad assessment of the costs. For example: <blockquote>This Initiative requires hiring of 5 staff to operate the program and two support positions for an estimated cost of $500,000 in the first year of the biennium and $750,000 in the second year. We estimate other costs associated with this initiative to total approximately $1 million over the biennium for a total of $2.25 million. These costs will be funded with approximately 75% general funds and 25% Federal or other matching funds. Federal and/or other funds are new funds that will not require diversion from existing programs.</blockquote></p>
  <p>We are asking that you be as detailed as possible, but we understand that this is an estimation process.
</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="objectivesModal" class="reveal-modal medium">
  <h2>Objectives/Benchmarks Advanced</h2>
  <p>Objectives and Benchmarks are part of Nevada's Priorities and Performance Based Budget (PPBB) process. PPBB Objectives are high-level goals that the State is trying to achieve; Benchmarks are high-level measures of how well the State is doing at achieving or making progress towards those Objectives. A Major Budget Initiative should advance one or more Statewide Objectives, along with one or more of that Objective's associated Benchmarks. </p>
  <p>For a list of Statewide Objectives (and their associated Benchmarks) please visit Nevada's <a href="http://openbudget.nv.gov/OpenGov/ViewPPBBSummary.aep" target="_new">Open Budget website</a>. Objectives can be located by their associated Core Function using the 'Core Function' tab.
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="initiativePmModal" class="reveal-modal medium">
  <h2>Initiative-Level Performance Measures (Proposed)</h2>
  <p>If a statewide benchmark or an existing activity performance measure does not <u><strong>directly</strong></u> measure the impact of this initiative, we are requiring that each initiative propose one or more measures to accomplish this purpose. Please note that we are looking for very discreet and direct measures of results of these specific dollars spent.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="costOfPmModal" class="reveal-modal medium">
  <h2>Cost of Proposed Measure</h2>
  <p>If a new <i><strong>Initiative-Level Performance Measure</strong></i> is being introduced, this allows for a description of any costs associated with administering the measure.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="activityPmModal" class="reveal-modal medium">
  <h2>Activity-Level Performance Measures</h2>
  <p>Activities and Performance Measures are part of Nevada's Priorities and Performance Based Budget (PPBB) process. Ech PPBB Activity can be associated with up to three Performance Measures. If an existing PPBB Performance Measure can be used to <u><strong>directly</strong></u> measure the impact of the budget initiative, it should be included here.</p>
  <p>For a list of existing PPBB Activites and their associated Performance Measures please visit Nevada's <a href="http://openbudget.nv.gov/OpenGov/ViewPPBBSummary.aep" target="_new">Openbudget website</a>. Activities can be located via their associated Core Functions and Objectives by drilling down through the 'Core Function' tab.
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="populationModal" class="reveal-modal medium">
  <h2>Population</h2>
  <p>This provides a field to directly discuss a discreet population that is served by (or will benefit from) the Initiative.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="caseloadModal" class="reveal-modal medium">
  <h2>Caseload</h2>
  <p>If the Initiative addresses an under- or un-served caseload (i.e. waitlist), this field can be used to provide a detailed description of the caseload requirements.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

