<!--     <ul class="hmenu">
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
    </ul>
 -->
<div class="row">

	<nav class="top-bar">
		<ul class="title-area">
			<!-- Title Area -->
			<li class="name">
			  <h1 style="color:#ccc; padding-left:10px">Major Budget Initiative Data-Entry Template</h1>
			</li>
		</ul>

	  <section class="top-bar-section">
	    <!-- Right Nav Section -->
	    <ul class="right">
			<li><%= link_to('My Budget Initiatives', initiatives_path) %></li>
			<li class="has-dropdown"><a href="#"><%= current_user.email %></a>
		        <ul class="dropdown">
					<li><%= render 'devise/menu/login_items' %></li>
					<li><%= link_to('Edit Account Settings', edit_user_registration_path) %></li>
				</ul>
			</li>
	    </ul>
	  </section>
	</nav>

</div>
