        <center><h2>My Budget Initiatives</h2></center>
<p id="notice"><%= notice %></p>

        <table width="100%">
          <thead>
            <tr>
              <th>Title</th>
<!--               <th>Description</th>
              <th>Justification</th>
              <th>Alternatives</th>
 -->              <th>Lead agency</th>
              <th>Secondary Agency 1</th>
              <th>Secondary Agency 2</th>
<!--               <th>Cost analysis</th>
 -->              <th></th>
              <th></th>
<!--               <th></th>
 -->              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @initiatives.each do |initiative| %>
              <tr>
                <td><%= initiative.title %></td>
<!--                 <td><%= initiative.description %></td>
                <td><%= initiative.justification %></td>
                <td><%= initiative.alternatives %></td>
 -->                <td><%= initiative.lead_agency %></td>
                <td><%= initiative.sec_agency_1 %></td>
                <td><%= initiative.sec_agency_2 %></td>
<!--                 <td><%= initiative.cost_analysis %></td>
 -->                <td><%= link_to 'View', initiative %></td>
                <td><%= link_to 'Edit', edit_initiative_path(initiative) %></td>
<!--                 <td><%= link_to 'Share', initiative_shares_path(initiative) %></td>
 -->                <td><%= link_to 'Delete', initiative, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <div class="button secondary small"><%= link_to 'Create New Initiative >>', new_initiative_path %></div>

